<div>
<span class="color-green">
  <%= flash[:notice] %>
  </span>
</div>
<%= yield %>

<%= render 'users/userinfo',user: @user %>
<%= render 'new',book: @book %>

<div class="col-md-8 offset-md-1">
<h2>Books</h2>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Option</th>
      <th colspan="3"></th>
      </tr>
  <thead>
  <tbody>
  </tbody>
</table>
</div>